attrs==22.2.0
cachetools==5.3.0
ChaCha20==1.1.1
click==8.1.3
Jinja2==3.1.2
MarkupSafe==2.1.2
psycopg2==2.9.5
pyasn1==0.4.8
pymemcache==4.0.0
python-dotenv==0.21.1
pytz==2022.7.1
quadlibrary @ file:///Users/thomas/qommand_center_rule_updater/quadlibrary-2.0-cp38-cp38-macosx_12_0_x86_64.whl
ring==0.10.0
rsa==4.9
rwlock==0.0.7
six==1.16.0
termcolor==2.2.0
wirerope==0.4.7

idstools~=0.6.4
setuptools~=60.2.0